echo "[Desktop Entry]
Name=PiVPN Easy Setup
Comment=Script d'installation et de configuration de PiVPN
Exec=lxterminal -e bash -c 'wget -O /tmp/fr_setup.sh https://raw.githubusercontent.com/Gvte-Kali/Network/refs/heads/main/Easy_PiVPN/setup.sh && chmod +x /tmp/fr_setup.sh && sudo bash /tmp/fr_setup.sh; read -p \"Appuyez sur Entrée pour fermer...\"'
Icon=network-vpn
Terminal=true
Type=Application
Categories=Network;" > ~/Desktop/pivpn_easy_setup.desktop
