[Desktop Entry]
Version=1.0
Type=Application
Name=PiVPN
Comment=PiVPN Setup and Easy Manager launcher
Exec=bash -c 'wget -O /tmp/setup.sh https://raw.githubusercontent.com/Gvte-Kali/Network/refs/heads/main/Easy_PiVPN/setup.sh && chmod +x /tmp/setup.sh && sudo bash /tmp/setup.sh; read -p \"Press Enter...\"'
Icon=network-vpn
Path=
Terminal=true
StartupNotify=false
